* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  background-image: linear-gradient(100deg, #000000, #00000020),
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAA0lBMVEX////2gh/7rUH3gB/2hyX///3//v/7r0f8///1gh////z2gBr3kTz2egD3gh/0giH0ewD1dgD++/X4dQD2fRH6rT/707T+6tj7qDP9qz//4Mj84cb0fhH8pzH0hx33xZz1k0P99ej4u4v93LT95tX/9ez4p2j4snv7yqf3oF/4qHH5vZf1m1X4jzT3gAD4m0/4yp/2q2v3s4X+8OT648b2zaz4yor8wXX8vmr6w3790qD+++7/piz7uVz427L+pjv54sD816j6xaT7yqz2xXj80ZU0NhSJAAAKD0lEQVR4nO2cC1vaTBOGN4QNuxs2JwkkEgQ8oBbUVqy2Hlrt4f//pXcmIEVQCRgDft/cXiJirXkys7OzM7swRhAEQRAEQRAEQRAEQRAEQRAEQRAEQRAEQRAEQRAEQRAEQRAEQRAE8X+MBYyfCKWs9AXO13xRuaI4A0EjlShWcc6tdV9UrnAmwGIKhAVBoLiYvPw/AdpKHdT7nwYnyan2t053qmeH/XpXMSbYhzYkV9xSSjAx/Nrb8XVSs23HQBzbTjzt73z6epCaln1Uh1UCRh8b9jta2zVb2sYMoNPvtLvC4kKt+1pXA0Imbx5rL7Fd25WOnFUoJRjT846bYvH/tanUq37NMKUrXcOZV+japusYtvQ7zXVf6JKASVK/q5949pysZzDdrc42A5fm1geJrTAZQOgYDvzavN2ewzEN0z/uMkuJD+KvAkzI2joxHDebQmnbpu19FuKjRByhxPBMgzwYaFkUSgxD0t0aHHwEE+JAEmzbS7JImxGaJPuph69bw+twSMxY399ZXiBEHPBUyAA2XCEMQX6obXcVhdI09e6mmxDdtOfBta5mw7Lt9zY5U8UVkiWO9SrqJnhfIJHd1IgDDmaxnl7JQx9xDH3ONnbSQIG7b7MgTKHOVntjbci5OPJXCzJTNnRcf3tTV8Zc7L/RgmO8Icw61ga6qlDluTXgKshaVUDqvnkx1WJfdC4KXdM7hMxv8xSyujYzZdqLgExcX1ibNha5EmpHl3NRCNhVvmkK4Xp2t1xzpVzmOfTRpim0RNcvwxooL4XOabBhkyJnXzzXyUsf4J2vSYllCazPP3qQpfBbjOxD721T/QzS9g6wDVC8QqxTC6a6za/98932diPAdgQW6c91nhY0XFv3saRcvEJLCNE4LHu+9mqe1r7s1QPM1wLPzdWGsJSSnKk1jEXO6h2/BsmjK21pmKZp62Q3YOJzTnPhP4WmrnNWcOaGxb5Gx5+pgUpHe1/ZiTTyVWgYybFgBdsQ1g5tvzZfIYQxcyazFQ6XwfG6RVeIhehp6Ty3PJKyJlerXLyGd1R00YafeShvvsOCDYg3rgufo9YrMvu2uGK92jvIeAVbF5rXcNb2cx9qr+Pq/SK9VAy3TIgphUrU7QIFcnEGAmuFeqnjp33FxznDet8cTtT9QtUhdhnS3uDy6tvV98vrvcYNBHOLC/jgKv9MwBJVu1gPBbw+E3yvFcdxhNyGV3tdC3c1WO+xs2Hfl4XbUA8hgH+P4rBUKoVhqRKGUevuB6SI79ErFoe1ovUZyQAG4A3oi0EgiIxL8DyMou+N3GvicMusEztbxzpHdB3i20WEAqcIS1F0NQRH5XnOlRbr+m4596zsNUzbTAJLsL8/w6cK0Zhh6/KG5ZmVwxq36dlmoZHGdmuHwrL4XVSZFQgKK1F4n6dCcPsjyEgLjTSu6e8rLrpRWJmzIYqMo+85RhvIf/tekfIM3BFWFcriP6Jn5I1o3XVzWz/CzTovOpSa+jMWha6eM2AacOLKz1Yjr7UHKNwtXKF3gCW8F00Yw2AMo4t8BGJS2i7aSxPsBFuNFxXCzAgj9Pb+7eKUsIQS7Gs+jcFsmNI0vC4IFHsvD8MRtw325j4jJL8wHzaKVGi4UrcFlp2vWwsUlqI313Lw19Ww0SxUoVHrwMiAS/+7yIYwN76tDiBY0Dyv4pblIvU5UndZ2jj4+1Io/Tcef16tuGxUsA5jqjlIfC1zLdcvwHQc1/H3U7tw8bDQhqW49SBWOtgAfyLoJ7om3Vw7SguxXcf066OZnFuNVrhAYAWSVDD4StHmKNGGDR/59QQzavTqYlTNhxC30IY4Z1yJVWzYOPEMx5Cm+3iCoCCknezjBtX0Iri4XiQRVh5h62IZgRikYQr8vFWsMMOxTfAWV/pT22jhQoKwFC9y1FJ4t0x+yvFokjr0C5Vn4BQIDuPo06MnJ4VgJN6WFsbTuHW/hA1BIQ8GtWINaOB+fWl73vnBxEMZ9puVxS7CaFTEeJlK+G0ZG0Jc6njOKut5OWH0jTF+Ph2pxnfOmTB+3U60d9LvPumgY/UEl4iXt1H4qkQIp40lFCp2nDXLluYORAYEjzTVktoYrT1Pw4NGvNGX0dMJk+enADyWe79evEhx8+OqEv0jjGBdUZnWHEeXTGTN3nBbTPbpwa3JarVT7ZydnQ2Oe8ghsAv0++1f7V9HR79//64j24/sN4Ah0g0ODgKwE1oNDzC8eIWpC6qg27i4aO49XF/+ubqrRFNL/zCMo8DKWiXm29lr21LWBjf/rmN2LIxm7dkXBX6K0VOApwLx5ZdrZ9jstka/ysd/R/35WZoUcGCt2LrIXJkKEiPzPnvp+tuwyk7L7PCFW2OwdqXGlw5zz0jFmPSo5fgnfHyOdPKTF1CjBICnJxnTs7WKXUdxZWoggptmAVdavSR7TQ2ygUF3eJASBAF+4gFRdBehlqr2cUs8c55UWdim4Ok5xkcPgfulgpvgPi49nUUqPMtuTRgJ+1uukTmO2rZrb/lp0DhNkuR0ByifIDA4O52zAXAMfAJwfJ6fpyO0jRwBOD6bwPb+MEA3nbvjLD1AxQQMwfv7vYe/l9+vvt1BkImi29l4GnWz3Em4C4PEyF40dMqmg9tCkPR7wIZEFqRjiH38HEXbFIy0o0iKsdUH8EFv+eXe9rzJFe6JshqXd/Ht7W0rghAa4rRRCeN4Lg2Imtl8prkly9n3xWD7Hqc8EOU+zm2oGSdBx5HSNEfT3eMdgO/x36GTpLcRf/fxZ4lfnZsu4I4HD5XbGGXhZ5x2LuARsu14Jg2IrrNMFoINiu+/jAEze9tTO585Dmf+UIoWZqXjGeNPloUwH3qF9wgfccGien9qLMKzi8riBfBE4bcsPso+57u/cBmkiwefp3JSxnDltDDrniisZFJ4tjYnNWzp2oY3tTNB/bkN49fz0WniKIvAQBfbfZnFTU7GDsqt4C6z+Ua0siRtTa9c+KrpqURvOJJoqbto8cp3eYVtXfB+mRmkrbdTgUJdzfdFXyfMpPDQW2K6fx+F9dGVXLfi0nxndIHChbMFZ2dYWlsroFDAPHjRWtKCWJFa3Nfn7MTOf5PoMkgDvBSWG6qSPYZOFN4t9lHObGetTgoSvQYeYnyIljZhKc5Q3OcscdfrpY57ii21ANbsS9sw/pulH7zjFr5n5glm0oMVnHild/8y0d5ifYyV32En8zK4uo4lg7ulDQi0Gln29Q+StZrQkH7XElZ3YVf0WRtmas4c1v6tWKcxC6JWZRZnl8sPQhD4LdM7Tg1Pqs9SLohq+rYY12FlBRqZ6qWq8BMcs6RvLLXCNQghrEz9J/78u27wQln+z43e3S7LKbCXdqZO3hHwncGjfkqsctYJC94bduSUIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIAiCIIh18R+dvdXGH8kgAgAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}


.form-container {
    width: 320px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  
  .form {
    margin-top: 1.5rem;
  }
  
  .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }
  
  .input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
  }
  
  .input-group input:focus {
    border-color: rgba(167, 139, 250);
  }
  
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    margin: 8px 0 14px 0;
  }
  
  .forgot a,
  .signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot a:hover,
  .signup a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
  }
  
  .sign {
    display: block;
    width: 100%;
    background-color: #c7a17a;
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
  }
  
  .social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
  }
  
  .social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
  }
  
  .social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
  }
  
  .signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
  }
  